extends base

block content
    main.main
        h1 O MAIR...
        br
        br
        svg(width="24" height="24" id="ant1" class="ants" style="fill: maroon; display:none;")
            use(xlink:href='/img/icons.svg#icon-ant1')   

        div#ant_Zieh.ants(style="position:absolute;  fill: red; display:none;")
            img(src="/img/RezepteBilderASMAG/Ziehwagen004.png" width="60" height="40")    
        br
        .error_center
            h2.heading-secondary.heading-secondary--error  Uh oh! Něco je špatně!
        br
        .error_center      
            h2.error__emoji_big 😢 🤯
            br
            .error__msg= msg
            //- Page not found!
        br  
        div( style="position: absolute; bottom: 30px;")
            a.btn.btn--small.btn--green(href="/api/v1/overviewInlogt") Zpět na přehled  
        br
        br            

        script.     

            document.addEventListener("DOMContentLoaded", () => {
                const ants = document.querySelectorAll(".ants");
                let timers = [];

                function resetAnts() {

                    ants.forEach(el => el.style.display = "none");

                    timers.forEach(t => clearTimeout(t));
                    timers = [];

                    timers.push(setTimeout(() => {
                        document.getElementById("ant1").style.display = "inline";
                    }, 10000));

                    timers.push(setTimeout(() => {
                        document.getElementById("ant_Zieh").style.display = "inline";
                    }, 10100));                    

                }

                resetAnts();

                document.addEventListener("mousemove", resetAnts);
            });              