extends base

block content
    main.main
        h1 About TDT
        br
        br
        br
        .error_center
            h2.heading-secondary.heading-secondary--error Uh oh! Something wrong!
        br
        .error_center      
            h2.error__emoji_big 😢 🤯
            br
            .error__msg= msg
            //- Page not found!
        br  
        div( style="position: absolute; bottom: 30px;")
            a.btn.btn--small.btn--green(href="/api/v1/overviewInlogt") Back overview     
        br
        br                   
