extends base

block content
    main.main
        .card-container
            script.
                console.log("Hello World- Overview :)");

            a.card(href=`/api/v1/create2-St-2-BSB`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/zweifach2_1.png`, alt=`zweifach2_1.png`)
                        h3.heading-tertirary
                            span 2-St-2-BSB

                    .card__details
                        h4.card__sub-heading= `Two thorn-steps recipe`
                        p.card__text Consisting of two tube-wall thicknesses and 2 transitions
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 6 corners - 7 total

            a.card(href=`/api/v1/create2-St-4-SBSBS`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/zweifach4_1.png`, alt=`zweifach4_1.png`)
                        h3.heading-tertirary
                            span 2-St-4-SBSBS

                    .card__details
                        h4.card__sub-heading= `Two thorn-steps recipe`
                        p.card__text Consisting of two tube-wall thicknesses and 4 transitions
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 10 corners - 12 total

            a.card(href=`/api/v1/create2-St-6-BSBSBSB`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/zweifach6_1.png`, alt=`zweifach6_1.png`)
                        h3.heading-tertirary
                            span 2-St-6-BSBSBSB

                    .card__details
                        h4.card__sub-heading= `Two thorn-steps recipe`
                        p.card__text Consisting of two tube-wall thicknesses and 6 transitions
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 14 corners - 17 total

            a.card(href=`/api/v1/create3-St-4-MBSBM`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/dreifach1_1.png`, alt=`dreifach1_1.png`)
                        h3.heading-tertirary
                            span 3-St-4-MBSBM

                    .card__details
                        h4.card__sub-heading= `Three thorn-steps recipe`
                        p.card__text Consisting of three tube-wall thicknesses and 4 transitions
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 10 corners - 12 total 

            a.card(href=`/api/v1/create3-St-4-BMSMB`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/dreifach2_1.png`, alt=`dreifach2_1.png`)
                        h3.heading-tertirary
                            span 3-St-4-BMSMB

                    .card__details
                        h4.card__sub-heading= `Three thorn-steps recipe`
                        p.card__text Consisting of three tube-wall thicknesses and 4 transitions
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 10 corners - 12 total                           

            a.card(href=`/api/v1/createExpertJCD`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/JCDentonThugLife3.png`, alt=`JCDentonThugLife3.png`)
                        h3.heading-tertirary
                            span Expert

                    .card__details
                        h4.card__sub-heading= `Two or three thorn-steps recipe, create as a professional`
                        p.card__text For special- recipes
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span Number of corners undetermined 

        a.btn.btn--small.btn--green(href="/api/v1/overviewInlogt") Back overview    
        br
        br                                             