extends base

block content
    main.main_txt_xml_Fileuploader
        br
        div.hauptContainer
            div.containerNeonText
                h1.h1NeonText Drag&amp;Drop - TDT - Recipes
                br
                h2.h2NeonText .txt- .xml- files
            br
            br
            br
            form.form.form--dragDrop
                .form__group
                    input#hiddenRecipesField(class="form__input" type="hidden" value="" placeholder="Eingehende Rezepte" required="required" min="10000" max="99999")
                .form__group
                    div.glow-on-hover
                        div.innerDragDrop(onDrop="dropHandler(event)" onDragOver="dragOverHandler(event)")
                            h1#inputFileNameH1 Drag your recipe here
                    br
                    br
                    br
                    br
                    button.btn.btnDragDropSave Save
                    a.btn-space
                    a.btn-space
                    a.btn-space
                    a.btn-space
                    a.btn-space
                    a.btn-space
                    a.btn-space
                    a.btn-space            
                    a.btn.btn--small.btn--gray(href="/api/v1/overviewInlogt") Cancel
                    br


            script. 
                let isDragging = false;

                document.querySelector('.innerDragDrop').addEventListener('dragenter', () => {
                    isDragging = true;
                    document.querySelector('.innerDragDrop').style.background = '#444444';
                });

                document.querySelector('.innerDragDrop').addEventListener('dragleave', () => {
                    isDragging = false;
                    //console.log("dragLeave: "+isDragging)
                    dragLeaveHandler();
                });

                document.querySelector('.innerDragDrop').addEventListener('dragover', (event) => {
                    //console.log("dragOver: ")
                    if (!isDragging) {
                        dragLeaveHandler();
                    }
                    event.preventDefault();
                    dropHandler(event)
                });

                function dragLeaveHandler() {
                    document.querySelector('.innerDragDrop').style.background = 'rgb(50, 50, 53)';
                }

                function dragOverHandler(event){
                    //console.log('bin dragOverHandler...')
                }

                let fileDataArr = [];
                
                function dropHandler(event) {
                    console.log("bin dropHandler(event)")
                    event.preventDefault();
                    
                    const files = event.dataTransfer.files;
                    if (files.length > 0) {
                        
                        for (let i = 0; i < files.length; i++) {
                            const reader = new FileReader();

                            reader.onload = function (e) {
                                const fileName = files[i].name;
                                const fileText = e.target.result;

                                const fileExtension = fileName.split('.').pop();

                                let hiddenFieldStr = "";

                                if (fileExtension !== "txt" && fileExtension !== "xml") {
                                    document.getElementById('inputFileNameH1').innerText = "Ungültiges Dateiformat";
                                    console.error("Ungültiges Dateiformat :(");
                                    fileDataArr = [];
                                    hiddenFieldStr = "";
                                    document.getElementById('hiddenRecipesField').value = "Ungültiges Dateiformat!"
                                    return;
                                }
                                
                                fileDataArr.push({ fileName, fileText });

                                console.log("All files are loaded:", fileDataArr);                                     
                                
                                let inputDDFileName = "";

                                for (let j = 0; j < fileDataArr.length; j++) {
                                    inputDDFileName = inputDDFileName + fileDataArr[j].fileName + "\n";
                                }

                                hiddenFieldStr += JSON.stringify(fileDataArr)
                                document.getElementById('hiddenRecipesField').value = hiddenFieldStr;
                                console.log("inputDDFileName: "+inputDDFileName)
                                document.getElementById('inputFileNameH1').innerText = inputDDFileName; 
                            };
                            reader.readAsText(files[i]);
                        }
                        dragLeaveHandler(event);
                    }
                }