footer.footer
    .footer__logo
        img(src='/img/Mubea_logo.svg.png', alt='Mubea logo')
    ul.footer__nav
        if user
            li: a(href='/api/v1/aboutTDT') Über TDT
            li: a(href='/api/v1/aboutASMAG') Über MAIR
            li: a(href='/api/v1/contact') Kontakt
        else 
            li: a(href='/api/v1/aboutTDT_NotInlogt') Über TDT
            li: a(href='/api/v1/aboutASMAG_NotInlogt') Über MAIR
            li: a(href='/api/v1/contact_NotInlogt') Kontakt            
    p.footer__copyright &copy; Von Matthias Trudewind, John Schmidt. Alle Rechte vorbehalten. &nbsp &nbsp Version 1.0 &nbsp &nbsp
        span#p1
        script.
           var date = new Date();
           //var current_date = date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear();
           //((date.getMonth() + 1) < 10 ? '0' : '')
           //var current_date = date.getDate() + "." + ((date.getMonth() + 1) < 10 ? '0' : '') + "." + date.getFullYear();
           var current_date = date.getDate() + "." + ((date.getMonth() + 1) < 10 ? '0' : '') + (date.getMonth() + 1) + "." + date.getFullYear();
           document.getElementById("p1").innerHTML = current_date;