extends base

block content
    main.main.ant__11

        div.wrapper_Ants(style="border: 0px solid pink;")
                //-div(style="border: 0px solid pink;")
                h2(style="margin: 20px") Über TDT
                br


                //-div.cube_Ants.splashBeer
                //-div.splashBeer
                div.cube_Ants(style="border: 0px solid blue; margin-bottom: 100px;")
                    //-h1 Sugar
                    //-.error_center      
                    div.error_center(style="border: 0px solid pink; margin-bottom: 100px;")
                        h2.heading-secondary.heading-secondary--error Uh oh! Etwas ging schief!
                        br
                        h2.error__emoji_big 😢 🤯
                        br
                        .error__msg= msg
                        //- Page not found!

                    //-div 
                        div.cube_BeerSplash 

                    svg(width="24" height="24" id="ant1" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1')        

                    svg(width="24" height="24" id="ant2" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1')             

                    svg(width="24" height="24" id="ant3" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1')       

                    svg(width="24" height="24" id="ant4" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1' transform="scale(0.9)")  

                    svg(width="24" height="24" id="ant5" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1')    

                    svg(width="24" height="24" id="ant6" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1' transform="scale(0.8)")     

                    svg(width="24" height="24" id="ant7" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1' transform="scale(0.8)")     

                    svg(width="24" height="24" id="ant8" class="ants" style="display: none;")
                        use(xlink:href='/img/icons.svg#icon-ant1' transform="scale(0.8)")                  
                                                                                                  
        br
        br
        br
        br        
        div( style="position: absolute; bottom: 30px; margin-left: 20px;")
            a.btn.btn--small.btn--green(href="/api/v1/overview") Zurück Übersicht     
        br
        br        

        script.
            document.addEventListener("DOMContentLoaded", () => {
                const ants = document.querySelectorAll(".ants");
                let timers = [];

                function resetAnts() {

                    ants.forEach(el => el.style.display = "none");

                    timers.forEach(t => clearTimeout(t));
                    timers = [];


                    timers.push(setTimeout(() => {
                        document.getElementById("ant6").style.display = "inline";
                    }, 5000));


                    timers.push(setTimeout(() => {
                        document.getElementById("ant8").style.display = "inline";
                    }, 10000));

                    timers.push(setTimeout(() => {
                        document.getElementById("ant5").style.display = "inline";
                    }, 15000));

                    timers.push(setTimeout(() => {
                        document.getElementById("ant1").style.display = "inline";
                    }, 20000));

                    timers.push(setTimeout(() => {
                        document.getElementById("ant7").style.display = "inline";
                    }, 25000));

                    timers.push(setTimeout(() => {
                        document.getElementById("ant2").style.display = "inline";
                    }, 30000));

                    timers.push(setTimeout(() => {
                        document.getElementById("ant3").style.display = "inline";
                    }, 35000));

                    timers.push(setTimeout(() => {
                        document.getElementById("ant4").style.display = "inline";
                    }, 37000));
                }

                resetAnts();

                document.addEventListener("mousemove", resetAnts);
            });


            //-extends base

            //-block content
                //-main.main
                    //- h1 Über TDT NotInlogt_de
                    //- br
                    //- br
                    //- br
                    //- .error_center
                    //-     h2.heading-secondary.heading-secondary--error Uh oh! Etwas ging schief!
                    //- br
                    //- .error_center      
                    //-     h2.error__emoji_big 😢 🤯
                    //-     br
                    //-     .error__msg= msg
                    //-     //- Page not found!
                    //- br  
                    //- div( style="position: absolute; bottom: 30px;")
                    //-     a.btn.btn--small.btn--green(href="/api/v1/overview") Zurück Übersicht    
                    //- br
                    //- br           