extends base

block content
    main.main
        .card-container
            script.
                console.log("Hello World- Overview :)");

            a.card(href=`/api/v1/create2-St-2-BSB`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/zweifach2_1.png`, alt=`zweifach2_1.png`)
                        h3.heading-tertirary
                            span 2-St-2-BSB

                    .card__details
                        h4.card__sub-heading= `Zwei-Stufen-Rezept`
                        p.card__text Bestehend aus zwei Wanddicken und 2 Übergänge
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 6 Ecken - 7 gesamt

            a.card(href=`/api/v1/create2-St-4-SBSBS`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/zweifach4_1.png`, alt=`zweifach4_1.png`)
                        h3.heading-tertirary
                            span 2-St-4-SBSBS

                    .card__details
                        h4.card__sub-heading= `Zwei-Stufen-Rezept`
                        p.card__text Bestehend aus zwei Wanddicken und 4 Übergänge
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 10 Ecken - 12 gesamt

            a.card(href=`/api/v1/create2-St-6-BSBSBSB`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/zweifach6_1.png`, alt=`zweifach6_1.png`)
                        h3.heading-tertirary
                            span 2-St-6-BSBSBSB

                    .card__details
                        h4.card__sub-heading= `Zwei-Stufen-Rezept`
                        p.card__text Bestehend aus zwei Wanddicken und 6 Übergänge
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 14 Ecken - 17 gesamt

            a.card(href=`/api/v1/create3-St-4-MBSBM`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/dreifach1_1.png`, alt=`dreifach1_1.png`)
                        h3.heading-tertirary
                            span 3-St-4-MBSBM

                    .card__details
                        h4.card__sub-heading= `Drei-Stufen-Rezept`
                        p.card__text Bestehend aus drei Wanddicken und 4 Übergänge
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 10 Ecken - 12 gesamt  

            a.card(href=`/api/v1/create3-St-4-BMSMB`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/dreifach2_1.png`, alt=`dreifach2_1.png`)
                        h3.heading-tertirary
                            span 3-St-4-BMSMB

                    .card__details
                        h4.card__sub-heading= `Drei-Stufen-Rezept`
                        p.card__text Bestehend aus drei Wanddicken und 4 Übergänge
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span 10 Ecken - 12 gesamt                           

            a.card(href=`/api/v1/createExpertJCD`, style="text-decoration: none; color: #7c7875;")
                    .card__header
                        .card__picture
                            card__picture-overlay &nbsp;
                            img.card__picture-img(src=`/img/RezepteBilderASMAG/JCDentonThugLife3.png`, alt=`JCDentonThugLife3.png`)
                        h3.heading-tertirary
                            span Experte

                    .card__details
                        h4.card__sub-heading= `Zwei- Stufen- oder Drei-Stufen-Rezept, erstellen als Profi`
                        p.card__text Für Spezial- Rezepte
                        .card__data
                            svg.card__icon
                                use(xlink:href='/img/icons.svg#icon-bookmark')
                            span Eckenanzahl unbestimmt   

        a.btn.btn--small.btn--green(href="/api/v1/overviewInlogt") Zurück Übersicht    
        br
        br                                             